/* Shaxmat doskasi katakchalari */
.chess-square {
  width: 12.5%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  user-select: none;
  cursor: pointer;
}

@media (min-width: 640px) {
  .chess-square {
    height: 52px;
    font-size: 34px;
  }
}

/* Skroll paneli stillari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
